$background-blue: #274754;
$text-white: #fcfcfc;
$accent-red: #e76f51;

.game-board {
  box-sizing: border-box;
  position: fixed;

  height: 800px;
  width: 1000px;
  background: #fcfcfce1;
  color: $background-blue;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0 0 40px 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.8fr 0.5fr 1.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .player-name {
    margin: 0;
  }

  .legs-won {
    margin: 0;
  }

  .points {
    font-size: 56pt;
    margin: 0;
    font-family: "Russo One", sans-serif;
    font-weight: 500;
  }

  .green-circle {
    font-size: 18pt;
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 3;
    border-right: 1px dotted $background-blue;
    border-bottom: 1px dotted $background-blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .div2 {
    grid-area: 1 / 3 / 2 / 5;
    border-bottom: 1px dotted $background-blue;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div3,
  .div4 {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;

      height: 50px;
      width: 200px;

      font-family: "Quicksand", sans-serif;
      text-align: center;
      font-size: 9pt;
      font-weight: 700;
    }

    input:focus {
      outline: none;
    }
  }

  .div3 {
    border-right: 1px dotted $background-blue;

    grid-area: 2 / 1 / 3 / 3;
  }
  .div4 {
    grid-area: 2 / 3 / 3 / 5;
  }

  .btn-arrow {
    margin-left: 20px;
    transform: scale(2);
    color: $accent-red;
    transition: color 0.3s;
  }

  .btn-arrow:hover {
    color: #f4a261;
    cursor: pointer;
  }

  .div5 {
    grid-area: 3 / 1 / 4 / 2;
    text-align: left;
    margin-left: 60px;
  }
  .div6 {
    border-right: 1px dotted $background-blue;

    grid-area: 3 / 2 / 4 / 3;
    overflow: scroll;
  }
  .div7 {
    grid-area: 3 / 3 / 4 / 4;

    overflow: scroll;
  }
  .div8 {
    grid-area: 3 / 4 / 4 / 5;
    text-align: right;
    margin-right: 60px;
  }
}

.hidden {
  display: none !important;
}

.inactive {
  color: rgb(153, 153, 153);
}
