$background-blue: #264653;
$text-white: #fcfcfc;

.header {
  background: $background-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;

  .header-sub {
    display: flex;
    justify-content: center;
    align-items: center;

    p,
    h1,
    h3 {
      color: $text-white;
      margin: 0 25px 0 25px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.3s;
    }

    h3:hover {
      border-bottom: 2px solid $text-white;
      cursor: pointer;
    }
  }
}
