$background-blue: #264653;
$text-white: #fcfcfc;

.header {
  background: $background-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px;

  p,
  h1,
  h3 {
    color: $text-white;
    margin: 0 25px 0 25px;
  }
}
