$background-blue: #274754;
$text-white: #fcfcfc;

.new-game {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  height: 700px;
  width: 500px;
  background: #fcfcfce1;
  color: $background-blue;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px 0 40px 0;

  .logo-blue {
    width: 150px;
  }

  .game-type-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    select {
      height: 50px;
      width: 100px;

      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;

      font-family: "Quicksand", sans-serif;
      text-align: center;
      font-size: 16pt;
      font-weight: 700;
    }

    select:focus {
      outline: none;
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .player-name-wrapper {
    input {
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;

      height: 50px;
      width: 350px;

      font-family: "Quicksand", sans-serif;
      text-align: center;
      font-size: 16pt;
      font-weight: 700;
    }

    input:focus {
      outline: none;
    }
  }

  button {
    background: rgb(209, 209, 209);
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin-top: 50px;

    height: 50px;
    width: 200px;

    font-weight: 600;

    transition: background 0.3s, color 0.3s;
  }

  button:hover {
    background: $background-blue;
    color: $text-white;
    cursor: pointer;
  }
}
