$background-blue: #264653;
$text-white: #fcfcfc;

.App {
  font-family: "Russo One", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif;

  box-sizing: border-box;

  text-align: center;
  color: $text-white;

  display: flex;
  flex-direction: column;
  width: 100vw;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: $background-blue;
  height: 90vh;
  width: 100vw;
  background-image: url(../src/img/wave-1.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}
